<div class="jumbotron">
  <div class="container home-container">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="display-4">Panda Visas</h1>
        <p class="lead">Your reliable U.S. visa consultant</p>
      </div>
      <div class="col col-5">
        <%= render 'shared/sign_up_form' %>
      </div>
    </div>
  </div>
</div>

<div class="profile-container">
  <div class="slogan">
    <h4 class="font-weight-light">We Can Help with Fresh First-hand Experience</h4>
  </div>
  <div class="profiles">
    <div class="profile-one">
      <%= link_to image_tag("tianyuan.png", alt: "Tianyuan Cui Pan"), 'https://github.com/tianyuancuipan', target: :_blank %>
      <div class="bio-copy">
        <div class="card-body">
          <h5 class="card-title">Tianyuan Cui Pan <span class="badge badge-pill badge-info">Bride</span></h5>
          <p class="card-text">Tianyuan was an applicant of U.S. K-1 fiancée visa during Sep 2017 and Aug 2018. Now she is going through the I-485 AOS process. </p>
          <p class="card-text"><small class="text-muted">CHINA</small></p>
        </div>
      </div>
    </div>
    <div class="profile-two">
      <%= link_to image_tag("mark.png", alt: "Mark Cui Pan"), 'https://markcuipan.com/', target: :_blank %>
      <div class="bio-copy">
        <div class="card-body">
          <h5 class="card-title">Mark Cui Pan <span class="badge badge-pill badge-success">Groom</span></h5>
          <p class="card-text">Mark was the petitioner for Tianyuan's K-1 visa. He had been engaged to Tianyuan Since Aug 2017, and married her in Aug 2018.</p>
          <p class="card-text"><small class="text-muted">USA</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="benefits-container">
  <div class="slogan">
    <h3 class="font-weight-light">What We Can Provide</h3>
  </div>
  <div class="benefits">
    <div class="card border-light mb-3 benefit">
      <div class="card-body">
        <h5 class="card-title"><span class="badge badge-pill badge-primary">#1</span> Complete Checklist</h5>
        <p class="card-text">A complete checklist for the U.S. visa you are applying for. Dealing with paper work can be frustrating and messy. We are here to make sure that you know everything you need to start the application.</p>
      </div>
    </div>
    <div class="card border-light mb-3 benefit">
      <div class="card-body">
        <h5 class="card-title"><span class="badge badge-pill badge-primary">#2</span> Community Guidance</h5>
        <p class="card-text">You are almost certainly going to run into some sort of problem during the lengthy and complicated process. Our community comprised of thousands of members are here to listen and give advice.</p>
      </div>
    </div>
    <div class="card border-light mb-3 benefit">
      <div class="card-body">
        <h5 class="card-title"><span class="badge badge-pill badge-primary">#3</span> Automatic Form Filling</h5>
        <p class="card-text">Filling in application forms can be one of your biggest headaches. But no worries! Automatic form-filling can guide you through the most confusing parts of the forms.</p>
      </div>
    </div>
  </div>
</div>
