<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <h1 class="display-4">Panda Visas</h1>
        <p class="lead">Your reliable U.S. visa consultant</p>
      </div>
      <div class="col col-5">
        <%= render 'shared/sign_up_form' %>
      </div>
    </div>
  </div>
</div>

<div class="profile-container">
  <div class="slogan">
    <h1 class="lead">We Can Help with Fresh First-hand Experience</h1>
  </div>
  <div class="profiles">
    <div class="profile-one">
      <%= link_to image_tag("tianyuan.png", alt: "Tianyuan Cui Pan"), 'https://github.com/tianyuancuipan', target: :_blank %>
      <div class="bio-copy">
        <div class="card-body">
          <h5 class="card-title">Tianyuan Cui Pan <span class="badge badge-pill badge-info">Co-Founder</span></h5>
          <p class="card-text">Tianyuan was an applicant of U.S. K-1 fiancée visa during Sep 2017 and Aug 2018. Now she is going through the I-485 AOS process. </p>
          <p class="card-text"><small class="text-muted">CHINA</small></p>
        </div>
      </div>
    </div>
    <div class="profile-two">
      <%= link_to image_tag("mark.png", alt: "Mark Cui Pan"), 'https://markcuipan.com/', target: :_blank %>
      <div class="bio-copy">
        <div class="card-body">
          <h5 class="card-title">Mark Cui Pan <span class="badge badge-pill badge-success">Co-Founder</span></h5>
          <p class="card-text">Mark was the petitioner for Tianyuan's K-1 visa. He had been engaged to Tianyuan Since Aug 2017, and married her in Aug 2018.</p>
          <p class="card-text"><small class="text-muted">USA</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="benefits-container">


</div>
