<% provide(:title, full_name(@user)) %>

<div class="user-container">
  <div class="my-profile">
    <%= image_tag "default.png" %>
    <h5 class="font-weight-normal"><%= full_name(@user) %></h5>
  </div>
  <div class="my-content">
  </div>
</div>
