<footer>
  <p class="card-title">Copyright <i class="far fa-copyright copyright"></i> Panda Visas 2018  <a class="email" href="mailto:info@pandavisas.com"><i class="fas fa-envelope"></i></a></p>
</footer>
