<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Visas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Forms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Commuity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
  <p class="display-8">Copyright <i class="far fa-copyright copyright"></i> Panda Visas 2018  <a href="mailto:info@pandavisas.com"><i class="fas fa-envelope"></i></a></p>
</footer>
