<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">Visas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Forms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Commuity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</footer>
