<footer>
  <div class="footer">
    <div class="flag-icons">
      <%= image_tag "china-rec.png", height: 22 %>
      <%= image_tag "usa-rec.png", height: 22 %>
    </div>
    <div>
      <small class="text-muted">
        Copyright <i class="far fa-copyright copyright"></i> Panda Visas 2018  <a class="email" href="mailto:info@pandavisas.com"><i class="fas fa-envelope"></i></a>
      </small>
    </div>
  </div>
</footer>
