/*
 *= require rails_bootstrap_forms
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* flash */
.flash-message {
  margin: 20px auto 0;
  width: 900px;
}

/* forms */
.signup-form {
  width: 80%;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: center;
  .signin-form {
    margin-top: 20px;
    width: 400px;
  }
}

.reset-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  justify-content: center;
  .reset-form {
    margin: 30px auto;
    width: 400px;
  }
}


/* Profiles */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  border-bottom: 1px solid #e6e8ed;
  margin: 60px auto 30px;
}

.profiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
   border: 3px solid #e6e8ed;
   border-radius: 100%;
   height: 20vw;
   width: 20vw;
  }
}

.profile-one, .profile-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 80px 0px;
}

.bio-copy {
  width: 25vw;
  .card-title {
    text-align: center;
  }
}

/* benefits */
.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefit {
  height: 120px;
  max-width: 60vw;
  margin: 30px auto;
}

/* footer */

footer {
  border-top: 1px solid #f2f4f7;
  padding-top: 2vh;
  margin: 12vh auto 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vw;
  .footer {
    margin: 20px 0;
  }
  .flag-icons {
    position: absolute;
    right: 10vw;
    img {
      margin-left: 2px;
    }
  }
  p {
    font-size: 1rem;
    .email {
      color: #4d4f51;
      font-size: 1.2rem;
    }
  }
}

/* user show page */

.user-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10vh auto;
  width: 80vw;
  .my-profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    img {
      border-radius: 100%;
      margin-bottom: 10px;
      width: 8vw;
      height: 8vw;
    }
  }
  .my-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;

    .nav-container {
      height: 60px;
      .user-nav {
        border-bottom: 1px solid #f2f4f7;
        width: 650px;
        li {
          margin-right: 30px;
          &:hover {
            border-bottom: 1.5px solid #bdbfc1;
          }
        }
        button {
          color: #4a4b4c;
        }
        li.active {
          border-bottom: 1.5px solid #2272c1;
        }
      }
    }

    .user-forms {
      margin: 40px auto auto 15px;
      .displayforms {
        display: none;
      }
      #profileform {
        display: block;
      }
    }
  }
}
